#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



.week-layout {
  display: flex;
  flex-direction: row;
  gap: 7%;
}

.score-component {
  display: flex;
  flex-direction: row;
  text-align: right;
}

.done {
  text-decoration: line-through;
}