.rewards-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    align-items: center;
    margin: auto;
}

.rewards-form > input {
    box-shadow: inset #abacaf 0 0 0 2px;
    border: 0;
    background: rgba(0, 0, 0, 0);
    appearance: none;
    position: relative;
    border-radius: 3px;
    padding: 3px 9px;
    line-height: 1.4;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;
    height: 40px;
    transition: all .2s ease;
    :hover{
        box-shadow: 0 0 0 0 #fff inset, #1de9b6 0 0 0 2px;
    }
    :focus{
        background: #fff;
        outline: 0;
        box-shadow: 0 0 0 0 #fff inset, #1de9b6 0 0 0 3px;
    }
}

.reward1 {
    color: darkgoldenrod;
}

.reward2 {
    color: darkred;
}

.reward3 {
    color: crimson;
}

